#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Ageless_Era
[/binary_path]

[binary_path]
    path=data/add-ons/Ageless_Resources/init
[/binary_path]

[binary_path]
    path=data/add-ons/Ageless_Resources/general
[/binary_path]

#define GET_AE_UNITS RACE
    {~add-ons/Ageless_Era/units/{RACE}}
#enddef

#define GET_AE_DATA FILE
    {~add-ons/Ageless_Era/data/{FILE}}
#enddef

    {~add-ons/Ageless_Era/data/overrides.cfg}
    {~add-ons/Ageless_Era/anim_macros/}
    {~add-ons/Ageless_Era/text/}
    {~add-ons/Ageless_Era/data/}

    [units]
        {~add-ons/Ageless_Era/units/}
    [/units]

    {~add-ons/AE_Era_of_Strife/macros/}
    {~add-ons/AE_Era_of_Strife/era.cfg}
#endif
