#textdomain wesnoth-AE_Era_of_Strife

[era]
    id=AE_Era_of_Strife
    name=_ "Era of Strife (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/default/default-EoS.cfg}
    {AGELESS_QUICK_4MP_LEADERS}
[/era]

[era]
    id=AE_Era_of_Strife_Default
    name=_ "Era of Strife (AE) + Default"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife (5 factions), extracted from Ageless Era, plus the 7 default factions including Dunefolk"
    require_era=yes
    {RANDOM_FACTION}
    {RANDOM_ONLY {BFW_FACTIONS} _"Default" AE_set_default}
    {RANDOM_ONLY {EoS_FACTIONS} "EoS" AE_set_eos}
    {~add-ons/Ageless_Era/factions/default/default-BFW.cfg}
    {~add-ons/Ageless_Era/factions/default/default-EoS.cfg}
    {AGELESS_QUICK_4MP_LEADERS}
[/era]

[era]
    id=AE_Era_of_Strife_Heroes
    name=_ "Era of Strife Heroes (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife Heroes (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/heroes/heroes-EoS.cfg}
[/era]

[era]
    id=AE_Era_of_Strife_Heroes_Default
    name=_ "Era of Strife Heroes (AE) + Default"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife Heroes (5 factions), extracted from Ageless Era, plus the 7 default factions including Dunefolk"
    require_era=yes
    {RANDOM_FACTION}
    {RANDOM_ONLY {BFW_FACTIONS} _"Default" AE_set_default}
    {RANDOM_ONLY {EoS_FACTIONS} "EoS" AE_set_eos}
    {~add-ons/Ageless_Era/factions/heroes/heroes-BFW.cfg}
    {~add-ons/Ageless_Era/factions/heroes/heroes-EoS.cfg}
    {AGELESS_QUICK_4MP_LEADERS}
[/era]

[era]
    id=AE_Era_of_Strife_RPG
    name=_ "Era of Strife RPG (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife RPG (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/RPG/RPG-EoS.cfg}
    {AGELESS_QUICK_4MP_LEADERS}
[/era]

[era]
    id=AE_Era_of_Strife_RPG_Default
    name=_ "Era of Strife RPG (AE) + Default"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife RPG (5 factions), extracted from Ageless Era, plus the 7 default factions including Dunefolk"
    require_era=yes
    {RANDOM_FACTION}
    {RANDOM_ONLY {BFW_FACTIONS} _"Default" AE_set_default}
    {RANDOM_ONLY {EoS_FACTIONS} "EoS" AE_set_eos}
    {~add-ons/Ageless_Era/factions/RPG/RPG-BFW.cfg}
    {~add-ons/Ageless_Era/factions/RPG/RPG-EoS.cfg}
    {AGELESS_QUICK_4MP_LEADERS}
[/era]
