#textdomain wesnoth-AE_Era_of_Strife

[era]
    id=AE_Era_of_Strife
    name=_ "Era of Strife (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/default/default-EoS.cfg}
[/era]

[era]
    id=AE_Era_of_Strife_Heroes
    name=_ "Era of Strife Heroes (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife Heroes (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/heroes/heroes-EoS.cfg}
[/era]

[era]
    id=AE_Era_of_Strife_RPG
    name=_ "Era of Strife RPG (AE)"
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era of Strife RPG (5 factions), extracted from Ageless Era"
    require_era=yes
    {RANDOM_FACTION}
    {~add-ons/Ageless_Era/factions/RPG/RPG-EoS.cfg}
[/era]
