#textdomain wesnoth-AE_Era_of_Strife

#define RANDOM_FACTION
    [multiplayer_side]
        id=AE_Era_of_Strife_Random
        name= _"Random"
        image="units/random-dice.png"
        random_faction=yes
    [/multiplayer_side]
#enddef

#define RANDOM_ONLY FACTION ABBR ID
    [multiplayer_side]
        id={ID}
        name= _"Random"+" "+ {ABBR}
        image="units/random-dice.png"
        random_faction=yes
        choices={FACTION}
    [/multiplayer_side]
#enddef

#define AGELESS_QUICK_4MP_LEADERS
    [event]
        name=prestart

        [store_unit]
            [filter]
                canrecruit=yes
                formula="$this_unit.max_moves<5 and $this_unit.max_moves>0"
            [/filter]

            kill=yes
            variable=leaders_to_make_quick
        [/store_unit]

        {FOREACH leaders_to_make_quick i}
            [if]
                # The variable check is done here instead of in the [store_unit]
                # so that all boolean values work
                [variable]
                    name=leaders_to_make_quick[$i].variables.dont_make_me_quick
                    boolean_equals=yes
                [/variable]

                [then]
                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/then]

                [else]
                    [if]
                        [variable]
                            name=leaders_to_make_quick[$i].race
                            equals=AE_myh_elemental,AE_chs_elemental
                        [/variable]
                        [then]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_EMERALD}
                                [/literal]
                            [/set_variables]
                        [/then]
                        [else]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_QUICK}
                                [/literal]
                            [/set_variables]
                        [/else]
                    [/if]

                    [set_variables]
                        name=leaders_to_make_quick[$i].modifications.trait
                        mode=append

                        [insert_tag]
                            name=literal
                            variable=temp.trait
                        [/insert_tag]
                    [/set_variables]

                    {CLEAR_VARIABLE leaders_to_make_quick[$i].max_moves,leaders_to_make_quick[$i].moves,leaders_to_make_quick[$i].max_hitpoints,leaders_to_make_quick[$i].hitpoints}

                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/else]
            [/if]
        {NEXT i}

        {CLEAR_VARIABLE leaders_to_make_quick,temp}
    [/event]
#enddef

[modification]
    id=AE_Era_of_Strife_World_Conquest
    name= _ "Era of Strife (AE) World Conquest Enemies"
    require_modification=yes
    description= _ "Change world conquest enemies to use Era of Strife factions."
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
[event]
	name = "wc2_init_enemy"
	[filter_conditional]
		[variable]
			name="wc2_enemy_army.length"
			equals=0
		[/variable]
	[/filter_conditional]
	[set_variables]
		name = "wc2_enemy_army"
		[literal]
            factions_available = "1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5"
            [group]
                allies_available = "2,3,4,5"
                id=AE_side_stf_eltireans
                recruit=AE_stf_eltireans_Knight_Errant,AE_stf_eltireans_Glory_Seeker,AE_stf_eltireans_Elementalist,AE_stf_eltireans_Disciple_of_Eltire,AE_stf_eltireans_Wind_Rider,AE_stf_eltireans_Lady_o_war
                [recall]
                    level2=AE_stf_eltireans_Knight_of_the_Sun,AE_stf_eltireans_Crusher,AE_stf_eltireans_Patrol_Captain,AE_stf_eltireans_Calmblade,AE_stf_eltireans_Pyromancer,AE_stf_eltireans_Hydromancer,AE_stf_eltireans_Bishop_of_Eltire,AE_stf_eltireans_Lightbringer,AE_stf_eltireans_Wind_Strider,AE_stf_eltireans_Temptress,AE_stf_eltireans_Fury
                    level3=AE_stf_eltireans_Guardian_of_the_Sun,AE_stf_eltireans_Destroyer,AE_stf_eltireans_Sky_Captain,AE_stf_eltireans_Frostwalker,AE_stf_eltireans_Infernal_Master,AE_stf_eltireans_Hydromonger,AE_stf_eltireans_Archbishop_of_Eltire,AE_stf_eltireans_Dawnbringer,AE_stf_eltireans_Siren,AE_stf_eltireans_Raging_Mistress
                [/recall]
                [commander]
                    level1=AE_stf_eltireans_Knight_Errant,AE_stf_eltireans_Glory_Seeker,AE_stf_eltireans_Elementalist,AE_stf_eltireans_Lady_o_war
                    level2=AE_stf_eltireans_Fury,AE_stf_eltireans_Knight_of_the_Sun,AE_stf_eltireans_Pyromancer,AE_stf_eltireans_Hydromancer,AE_stf_eltireans_Patrol_Captain,AE_stf_eltireans_Calmblade,AE_stf_eltireans_Crusher
                    level3=AE_stf_eltireans_Raging_Mistress,AE_stf_eltireans_Guardian_of_the_Sun,AE_stf_eltireans_Infernal_Master,AE_stf_eltireans_Hydromonger,AE_stf_eltireans_Sky_Captain,AE_stf_eltireans_Frostwalker,AE_stf_eltireans_Destroyer
                [/commander]
                [leader]
                    level2=AE_stf_eltireans_Fury
                    level3=AE_stf_eltireans_Raging_Mistress
                    recruit=AE_stf_eltireans_Lady_o_war
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Knight_of_the_Sun
                    level3=AE_stf_eltireans_Guardian_of_the_Sun
                    recruit=AE_stf_eltireans_Knight_Errant
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Pyromancer
                    level3=AE_stf_eltireans_Infernal_Master
                    recruit=AE_stf_eltireans_Elementalist
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Hydromancer
                    level3=AE_stf_eltireans_Hydromonger
                    recruit=AE_stf_eltireans_Elementalist
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Patrol_Captain
                    level3=AE_stf_eltireans_Sky_Captain
                    recruit=AE_stf_eltireans_Glory_Seeker
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Calmblade
                    level3=AE_stf_eltireans_Frostwalker
                    recruit=AE_stf_eltireans_Glory_Seeker
                [/leader]
                [leader]
                    level2=AE_stf_eltireans_Crusher
                    level3=AE_stf_eltireans_Destroyer
                    recruit=AE_stf_eltireans_Glory_Seeker
                [/leader]
            [/group]
            [group]
                allies_available = "1,3,4,5"
                id=AE_side_stf_eventide
                recruit=AE_stf_eventide_Diu_Bowmaiden,AE_stf_eventide_Noct_Maceman,AE_stf_eventide_Swabbie,AE_stf_eventide_Eventide_Herbalist,AE_stf_eventide_Desperado,AE_stf_eventide_Auxilary
                [recall]
                    level2=AE_stf_eventide_Arcane_Archer,AE_stf_eventide_Diu_Bowmistress,AE_stf_eventide_Dreadlord,AE_stf_eventide_Noct_Macelord,AE_stf_eventide_Mariner,AE_stf_eventide_Eventide_Alchemist,AE_stf_eventide_Madcap,AE_stf_eventide_Lineman
                    level3=AE_stf_eventide_Diu_Keenshot,AE_stf_eventide_Guardian_of_Noct,AE_stf_eventide_Navigator,AE_stf_eventide_Eventide_Poisoner
                [/recall]
                [commander]
                    level1=AE_stf_eventide_Diu_Bowmaiden,AE_stf_eventide_Noct_Maceman,AE_stf_eventide_Eventide_Herbalist
                    level2=AE_stf_eventide_Diu_Bowmistress,AE_stf_eventide_Arcane_Archer,AE_stf_eventide_Noct_Macelord,AE_stf_eventide_Dreadlord,AE_stf_eventide_Eventide_Alchemist
                    level3=AE_stf_eventide_Diu_Keenshot,AE_stf_eventide_Guardian_of_Noct,AE_stf_eventide_Eventide_Poisoner
                [/commander]
                [leader]
                    level2=AE_stf_eventide_Diu_Bowmistress
                    level3=AE_stf_eventide_Diu_Keenshot
                    recruit=AE_stf_eventide_Diu_Bowmaiden
                [/leader]
                [leader]
                    level2=AE_stf_eventide_Arcane_Archer
                    level3=AE_stf_eventide_Diu_Keenshot
                    recruit=AE_stf_eventide_Diu_Bowmaiden
                [/leader]
                [leader]
                    level2=AE_stf_eventide_Noct_Macelord
                    level3=AE_stf_eventide_Guardian_of_Noct
                    recruit=AE_stf_eventide_Noct_Maceman
                [/leader]
                [leader]
                    level2=AE_stf_eventide_Dreadlord
                    level3=AE_stf_eventide_Guardian_of_Noct
                    recruit=AE_stf_eventide_Noct_Maceman
                [/leader]
                [leader]
                    level2=AE_stf_eventide_Eventide_Alchemist
                    level3=AE_stf_eventide_Eventide_Poisoner
                    recruit=AE_stf_eventide_Eventide_Herbalist
                [/leader]
            [/group]
            [group]
                allies_available = "1,2,4,5"
                id=AE_side_stf_freesaurians
                recruit=AE_stf_free_saurians_Sage,AE_stf_free_saurians_Mage,AE_stf_free_saurians_Skirmisher,AE_stf_free_saurians_Knife_Thrower,AE_stf_free_saurians_Swamp_Saurian,AE_stf_free_saurians_Spider,AE_stf_free_saurians_Lizard_Rider,AE_stf_free_saurians_Trainee,AE_stf_free_saurians_Brave,AE_stf_free_saurians_Gladiator
                [recall]
                    level2=AE_stf_free_saurians_Mystic,AE_stf_free_saurians_Healer,AE_stf_free_saurians_Soulmage,AE_stf_free_saurians_Elementalist,Saurian Ambusher,AE_stf_free_saurians_Warrior,AE_stf_free_saurians_Skulker,AE_stf_free_saurians_Swamp_Fighter,AE_stf_free_saurians_Swamp_Guard,AE_stf_free_saurians_Tarantula,AE_stf_free_saurians_Lizard_Master,AE_stf_free_saurians_Fighter,AE_stf_free_saurians_Duelist
                    level3=AE_stf_free_saurians_Holy,AE_stf_free_saurians_Shockfrost,Saurian Flanker,AE_stf_free_saurians_Hero,AE_stf_free_saurians_Assassin,AE_stf_free_saurians_Swamp_Warrior,AE_stf_free_saurians_Swamp_Margrave,AE_stf_free_saurians_Warchief,AE_stf_free_saurians_Champion
                [/recall]
                [commander]
                    level1=AE_stf_free_saurians_Sage,AE_stf_free_saurians_Mage,AE_stf_free_saurians_Skirmisher,AE_stf_free_saurians_Knife_Thrower,AE_stf_free_saurians_Swamp_Saurian,AE_stf_free_saurians_Brave,AE_stf_free_saurians_Gladiator
                    level2=AE_stf_free_saurians_Mystic,AE_stf_free_saurians_Healer,AE_stf_free_saurians_Soulmage,AE_stf_free_saurians_Elementalist,AE_stf_free_saurians_Warrior,AE_stf_free_saurians_Skulker,AE_stf_free_saurians_Swamp_Fighter,AE_stf_free_saurians_Fighter,AE_stf_free_saurians_Duelist
                    level3=AE_stf_free_saurians_Holy,AE_stf_free_saurians_Shockfrost,AE_stf_free_saurians_Hero,AE_stf_free_saurians_Assassin,AE_stf_free_saurians_Swamp_Warrior,AE_stf_free_saurians_Swamp_Margrave
                [/commander]
                [leader]
                    level2=AE_stf_free_saurians_Mystic
                    level3=AE_stf_free_saurians_Holy
                    recruit=AE_stf_free_saurians_Sage
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Healer
                    level3=AE_stf_free_saurians_Holy
                    recruit=AE_stf_free_saurians_Mage
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Soulmage
                    level3=AE_stf_free_saurians_Shockfrost
                    recruit=AE_stf_free_saurians_Mage
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Elementalist
                    level3=AE_stf_free_saurians_Shockfrost
                    recruit=AE_stf_free_saurians_Mage
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Warrior
                    level3=AE_stf_free_saurians_Hero
                    recruit=AE_stf_free_saurians_Skirmisher
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Skulker
                    level3=AE_stf_free_saurians_Assassin
                    recruit=AE_stf_free_saurians_Knife_Thrower
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Swamp_Fighter
                    level3=AE_stf_free_saurians_Swamp_Warrior
                    recruit=AE_stf_free_saurians_Swamp_Saurian
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Fighter
                    level3=AE_stf_free_saurians_Warchief
                    recruit=AE_stf_free_saurians_Brave
                [/leader]
                [leader]
                    level2=AE_stf_free_saurians_Duelist
                    level3=AE_stf_free_saurians_Champion
                    recruit=AE_stf_free_saurians_Gladiator
                [/leader]
            [/group]
            [group]
                allies_available = "1,2,3,5"
                id=AE_side_stf_minotaurs
                recruit=AE_stf_minotaurs_Shaman,AE_stf_minotaurs_Gore,AE_stf_minotaurs_Behemoth,AE_stf_minotaurs_Gnoll,AE_stf_minotaurs_Boar_Rider,AE_stf_minotaurs_Cutthroat
                [recall]
                    level2=AE_stf_minotaurs_Mystic,AE_stf_minotaurs_Warlock,AE_stf_minotaurs_Rouser,AE_stf_minotaurs_Savage,AE_stf_minotaurs_Ancient_Behemoth,AE_stf_minotaurs_Keeneye,AE_stf_minotaurs_Boar_Knight,AE_stf_minotaurs_Slayer
                    level3=AE_stf_minotaurs_Elder,AE_stf_minotaurs_Overlord,AE_stf_minotaurs_Gnoll_Sharpeye,AE_stf_minotaurs_Boar_Cataphract,AE_stf_minotaurs_Executioner
                [/recall]
                [commander]
                    level1=AE_stf_minotaurs_Shaman,AE_stf_minotaurs_Gore,AE_stf_minotaurs_Gnoll,AE_stf_minotaurs_Cutthroat
                    level2=AE_stf_minotaurs_Rouser,AE_stf_minotaurs_Savage,AE_stf_minotaurs_Warlock,AE_stf_minotaurs_Mystic,AE_stf_minotaurs_Keeneye,AE_stf_minotaurs_Slayer
                    level3=AE_stf_minotaurs_Elder,AE_stf_minotaurs_Executioner,AE_stf_minotaurs_Overlord,AE_stf_minotaurs_Gnoll_Sharpeye
                [/commander]
                [leader]
                    level2=AE_stf_minotaurs_Rouser
                    level3=AE_stf_minotaurs_Overlord
                    recruit=AE_stf_minotaurs_Gore
                [/leader]
                [leader]
                    level2=AE_stf_minotaurs_Savage
                    level3=AE_stf_minotaurs_Overlord
                    recruit=AE_stf_minotaurs_Gore
                [/leader]
                [leader]
                    level2=AE_stf_minotaurs_Warlock
                    level3=AE_stf_minotaurs_Elder
                    recruit=AE_stf_minotaurs_Shaman
                [/leader]
                [leader]
                    level2=AE_stf_minotaurs_Mystic
                    level3=AE_stf_minotaurs_Elder
                    recruit=AE_stf_minotaurs_Shaman
                [/leader]
                [leader]
                    level2=AE_stf_minotaurs_Keeneye
                    level3=AE_stf_minotaurs_Gnoll_Sharpeye
                    recruit=AE_stf_minotaurs_Gnoll
                [/leader]
                [leader]
                    level2=AE_stf_minotaurs_Slayer
                    level3=AE_stf_minotaurs_Executioner
                    recruit=AE_stf_minotaurs_Cutthroat
                [/leader]
            [/group]
            [group]
                allies_available = "1,2,3,4"
                id=AE_side_stf_triththa
                recruit=AE_stf_triththa_Dwarvish_Fighter,AE_stf_triththa_Crossbowman,AE_stf_triththa_Smith,AE_stf_triththa_Ballista,AE_stf_triththa_Rusher,AE_stf_triththa_Shieldman,AE_stf_triththa_Plainsrider,AE_stf_triththa_Squid
                [recall]
                    level2=Dwarvish Steelclad,AE_stf_triththa_Runefighter,AE_stf_triththa_Compounder,AE_stf_triththa_Armorer,AE_stf_triththa_Ballista,AE_stf_triththa_Charger,AE_stf_triththa_Guard,AE_stf_triththa_Plainsmaster,AE_stf_triththa_Giant_Squid
                    level3=Dwarvish Lord,AE_stf_triththa_Runewarrior,AE_stf_triththa_Arblaster,AE_stf_triththa_Repeater,AE_stf_triththa_Linebreaker,AE_stf_triththa_Defender,AE_stf_triththa_Kraken
                [/recall]
                [commander]
                    level1=AE_stf_triththa_Dwarvish_Fighter,AE_stf_triththa_Crossbowman,AE_stf_triththa_Smith,AE_stf_triththa_Rusher,AE_stf_triththa_Shieldman
                    level2=Dwarvish Steelclad,AE_stf_triththa_Runefighter,AE_stf_triththa_Compounder,AE_stf_triththa_Armorer,AE_stf_triththa_Charger,AE_stf_triththa_Guard
                    level3=Dwarvish Lord,AE_stf_triththa_Runewarrior,AE_stf_triththa_Arblaster,AE_stf_triththa_Repeater,AE_stf_triththa_Linebreaker,AE_stf_triththa_Defender
                [/commander]
                [leader]
                    level2=Dwarvish Steelclad
                    level3=Dwarvish Lord
                    recruit=AE_stf_triththa_Dwarvish_Fighter
                [/leader]
                [leader]
                    level2=AE_stf_triththa_Runefighter
                    level3=AE_stf_triththa_Runewarrior
                    recruit=AE_stf_triththa_Dwarvish_Fighter
                [/leader]
                [leader]
                    level2=AE_stf_triththa_Compounder
                    level3=AE_stf_triththa_Repeater
                    recruit=AE_stf_triththa_Crossbowman
                [/leader]
                [leader]
                    level2=AE_stf_triththa_Armorer
                    level3=AE_stf_triththa_Defender
                    recruit=AE_stf_triththa_Smith
                [/leader]
                [leader]
                    level2=AE_stf_triththa_Charger
                    level3=AE_stf_triththa_Linebreaker
                    recruit=AE_stf_triththa_Rusher
                [/leader]
                [leader]
                    level2=AE_stf_triththa_Guard
                    level3=AE_stf_triththa_Defender
                    recruit=AE_stf_triththa_Shieldman
                [/leader]
            [/group]
		[/literal]
	[/set_variables]
[/event]
[/modification]
