#textdomain wesnoth-AE_Era_of_Strife

#define RANDOM_FACTION
    [multiplayer_side]
        id=AE_Era_of_Strife_Random
        name= _"Random"
        image="units/random-dice.png"
        random_faction=yes
    [/multiplayer_side]
#enddef
